@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.attribution {
  margin-top: 100vh; 
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body{
    background-color: #f0f0f0;
}

main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  height: 60%;
  width: 40%;
  border-radius: 5% 5% 25% 5%;
}

form {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin-left: 0.5rem;
}

.form-group {
  margin: 1rem 0 0 1rem;
  width: 20%;
}

.form-group > p{
  color: red;
  font-size: 0.6rem;
}

.hidden{
  display: none;
}

.input-red-box {
  border-color: #ff0000;
}

label{
  font-weight: 600;
  color: #716f6f;
}

input{
  max-width: 8rem;
  width: auto;
  max-height: 2.5rem;
  font-size: 2rem;
  border-radius: 10%;
  border: 1px solid #716f6f;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-info-return{
  margin: 0 0 0 2.5rem;
}

h1{
  font-size: 5rem;
  font-weight: 800;
  font-style: italic;
}

.purple{
  color: #844dff;
}

.seperation-line {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

button{
  height: 80px;
  width: 80px;
  background-color: #844dff;
  border: none;
  border-radius: 70%;
  margin-right: 1rem;
}  

button:hover{
  background-color: #000;
}
